<!DOCTYPE html>
<html>

<head>
    <title>Mi plantilla EJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="card card-body">
                    <h1 class="text-center card-title">Bienvenido a mi plantilla EJS</h1>
                    <p class="alert alert-info">
                        <%= mensaje %>
                    </p>
                    <img src="/images/ejs.gif" alt="Imagen pug" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
