doctype html
html
  head
    title Mi plantilla Pug
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    .container-fluid
      .row.align-items-center.justify-content-center.min-vh-100
        .col-sm-8.col-md-6.col-lg-4
          .card
            .card-body.d-flex.flex-column.align-items-center.justify-content-center
              h1.card-title Bienvenido a mi plantilla Pug
              p(class="alert alert-info") #{mensaje}
              img(src=imagenperrito , alt="Imagen pug", class="img-fluid")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="/js/main.js")
